/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

body {
  color: white;
  background-color: rgb(54, 54, 54);
}

table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}

td {
  padding-right: 30px;
}
